.header {
  background-color: $background-color_white;
  border-bottom: 1px solid #d9fff5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;

  @media (min-width: $screen-md) {
    margin-right: 24px;
    margin-left: 24px;
  }

  @media (min-width: $screen-xl) {
    display: none;
  }

  &__divider {
    background-image: url(../img/divider.svg);
    margin-left: 16px;
    margin-right: 20px;
    width: 2px;
    height: 32px;

    &--left {
      @media (min-width: $screen-md) {
        margin-left: 20px;
      }
    }
  }
}
