.table {
  @media (min-width: $screen-md) {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;

    &__row {
      @media (min-width: $screen-md) {
        td {
          position: relative;
        }
      }
    }

    &__cell {
      &--1 {
        width: 53%;
        padding-left: 16px;
      }

      &--border {
        &::before {
          content: '';
          display: block;
          height: 1px;
          overflow: hidden;
          background: #eaeaea;
          position: absolute;
          left: 20px;
          right: 0;
          bottom: 0;
        }
      }

      &--3 {
        width: 11%;
        &::before {
          left: 0;
          right: 0px;
        }
      }

      &--button {
        &:before {
          left: 0;
          right: 20px;
        }
      }

      &--2 {
        &:before {
          left: 0;
          right: 0px;
        }
      }
    }

    &__body {
      color: $text-color;
      background-color: $background-color_white;
      border-radius: 6px;
      border-style: hidden;
      box-shadow: 0 0 0 3px #ffffff;
    }

    &__header-cell {
      height: 16px;
      font-family: $font-family;
      text-align: left;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $text-color_accent;
      mix-blend-mode: normal;
      opacity: 0.72;
      padding-top: 31px;
      padding-bottom: 16px;

      &--first {
        padding-left: 40px;
      }
    }
  }
}
